table{
    width: 100%;
}
table.time{
    padding: 0;
    margin: 0;
    border: 0;
    border-spacing: 0px;
}
td.date{
    text-align: center;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

td.today{
    background: #337ab7;
    color: #fff;
}
td:hover:not(.today){
    background: #ddd;
}
.header{
    background: #e9e9e9;
    padding: 6px 0px;
    display: flex;
    justify-content: space-around;
}
.header .lt,.header .gt{
    cursor: pointer;
    width: 100%;
    min-width: 30px;
    width: 30px;
    text-align: center;
}
.datepicker{
    width: 220px;
    border: 1px solid #ccc;
}
.header-text{
    width: 180px !important;
    display: inline-block;
    text-align: center;
}
.time td input{
    width: 100px;
}