table{
    width: 100%;
}
table.time{
    padding: 0;
    margin: 0;
    border: 0;
    border-spacing: 0px;
}
td.today{
    background: #337ab7;
    color: #fff;
}
td{
    text-align: center;
    cursor: pointer;
}
td:hover{
    background: #eee;
}
.header{
    background: #ccc;
    padding: 6px 0px;
    display: flex;
    justify-content: space-around;
}
.header .lt,.header .gt{
    cursor: pointer;
    width: 100%;
    min-width: 30px;
    width: 30px;
    text-align: center;
}
.datepicker{
    width: 220px;
    border: 1px solid #ccc;
}
.header-text{
    width: 180px !important;
    display: inline-block;
    text-align: center;
}
.time td input{
    width: 100px;
}