<div class="datepicker">
  <div class="header">
    <span class="lt" (click)="previousMonth()">&lt;</span>
    <span class="header-text">{{months[selectedDate.getMonth()]}} &nbsp; {{selectedDate.getFullYear()}}</span>
    <span class="gt"  (click)="nextMonth()">&gt;</span>
  </div>
  <table>
  <tr>
  <th>Su</th>
  <th>Mo</th>
  <th>Tu</th>
  <th>We</th>
  <th>Th</th>
  <th>Fr</th>
  <th>Sa</th>
  </tr>
  <tr *ngFor="let items of days.day">
  <td *ngFor="let item of items"  [class.today]="activeMonthYear && item == currentDate.getDate()"  (click)="selectDate(item)">
    <ng-template [ngIf]="item != -1">
      {{item}}
    </ng-template>
  </td>
  </tr>
  </table>
  <table class="time">
    <tr>  
      <td>
        <input type="number" value="{{selectedDate.getHours()}}" #hours (blur)="setHours(hours.value)">
      </td>
      <td>
        <input type="number" value="{{selectedDate.getMinutes()}}" #minutes (blur)="setMinutes(minutes.value)">
      </td>
    </tr>
  </table>
</div>